body{
    background-color: azure;
    color : blue

    }
    

.hidden{
    color: transparent;
}

#canvas{
    width: 400px;
    margin: 0 auto;
    display: block;
}


#contenedor-palabras{
    margin: 0 auto;
    margin-top: 1px;
    left: 200px;
    color: blue;
    position: relative;

}



footer{
    
    height: 50px;
    text-align: left;
    color:#808080;
    left: 1200px;
}



.letter{
    margin: 0 40px;
    position: relative;
    text-align:center;
}



#inicio {
    background-color: #0A3871;
    flex-direction: row;
    position: absolute;
    padding: 24px;
    border-radius: 24px;
    width: 317px;
    height: 95px;
    left: 561px;
    top: 600px;
    gap: 8px;
    color: azure;
    border: solid #0A3871;
    size: 16px;
    font-family: 'inter';
    font-style:normal;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    text-align: center;
    line-height: 22px;


}

#cancelar{
    display: none;
    background-color: transparent;
    flex-direction: row;
    position: absolute;
    padding: 24px;
    border-radius: 24px;    
    width: 280px;
    height: 67px;
    left: 700px;
    top: 600px;   
    gap: 8px;
    border: solid #0A3871;
    size: 16px;
    font-family: 'Inter';
    font-style:normal;
    font-weight: 400;
    font-size: 20px;
    color:#0A3871;
    align-items: center;
    text-align: center;
    
}

#nuevo{
    display: none;
    background-color: #0A3871;
    flex-direction: row;
    position: absolute;
    padding: 24px;
    border-radius: 24px;    
    width: 280px;
    height: 67px;
    left: 400px;
    top: 600px;
    gap: 8px;
    color: azure;
    border:solid #0A3871;
    size: 16px;
    font-family: 'inter';
    font-style:normal;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    text-align: center;
    line-height: 22px;

    
}

#nuevaPalabra{
    background-color: azure;
    border: none;
    border: transparent;
}

#guardar{
    display: none;
        background-color: #0A3871;
        flex-direction: row;
        position: absolute;
        padding: 24px;
        border-radius: 24px;    
        width: 280px;
        height: 67px;
        left: 400px;
        top: 600px;
        gap: 8px;
        color: azure;
        border: solid #0A3871;
        size: 16px;
        font-family: 'inter';
        font-style:normal;
        font-weight: 400;
        font-size: 18px;
        align-items: center;
        text-align: center;
        line-height: 22px;
    
    
}

#agregar-palabra{

    background-color: transparent;
    flex-direction: row;
    position: absolute;
    padding: 24px;
    border-radius: 24px;    
    width: 280px;
    height: 67px;
    left: 579px;
    top: 700px;   
    gap: 8px;
    border: solid #0A3871;
    size: 16px;
    font-family: 'Inter';
    font-style:normal;
    font-weight: 400;
    font-size: 20px;
    color:#0A3871;
    align-items: center;
    text-align: center;

}

.letter::after{
    content:" ";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: blue;
    min-width: 20px;
    text-align: center;
}

#nuevaPalabra{
    display: none;
    position: absolute;
    background-color: azure;
    width: 680px;
    height: 208px;
    left: 240px;
    top: 68px;
    font-family: 'inter';
    font-style: normal;
    color: #0A3871;
    font-size: 16px;
    border: 0px;
}

.container{
    float: right;
    width: 30%;
    height: auto;
    /* left: 500px; */
    /* top: 40px; */
    /* position: fixed; */
}


::-webkit-input-placeholder{
    color: #0A3871;
    font-style: italic;
}